<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificar Matrícula</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/Matriculas.css') }}">
    <script src="{{ url_for('static', filename='scripts/Matriculas.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Início</a></li>
            <li><a href="{{ url_for('ler_matricula') }}">Ler Matricula</a></li>
        </ul>
    </nav>
    <div class="container">
        <h2>Verificação de Matrícula</h2>
        <input type="text" id="matriculaInput" placeholder="AA-00-00">
        <button onclick="verificarMatricula()">
            <i class="fas fa-check-circle"></i> Verificar
        </button>
    </div>
</body>
</html>
